.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  .homeButton {
    padding: 30px 10px;
    font-size: 30px;
    border-radius: 15%;
    box-shadow: black 5px 10px 10px;
    transition: transform 0.3s ease;
  }

  .homeButton:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    background-color: white;
    padding: 20px;
    outline: none;
    border-radius: 5%;
    box-shadow: black 5px 10px 100px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  